.nosotros{
    background-color: hsl(256, 26%, 20%);
    color: aliceblue;
    height: 368px;
    margin: 25px;
    text-align: center;
}
.parrafo{
    font-size: 45px;
    letter-spacing: -1px;
    margin-top: 121px;
    padding-top: 72px;
    font-weight: 550;
    line-height: 47px;
    position: relative;
    font-family: DM Serif Display;
    font-weight: 600;
}
.imgHoWe{
    position: absolute;
    margin: 0 -14px;
}
.imgHoWeDesk{
    display: none;
}

.boton3{
    background-color: hsl(256, 26%, 20%);
    color: white;
    border: solid 1px;
    font-size: 12px;
    padding: 12px 26px;
    letter-spacing: 2px;
    margin: 32px 0 64px;
}


@media (min-width:1200px) {
    .nosotros{
        height: 200px;
        margin: 11%;
        text-align: left;
        display: flex;    
       /*  background-image: url(../../assets/img_desktop/bg-pattern-how-we-work-desktop.svg);
        background-position: 100%; */
    }
    .imgHoWeDesk{
        position: absolute;
        margin-left: 49%;
        width: 29%;
        display: block;
    }

    .imgHoWe{
        display: none;
    }
    
    .nosotros div{
        display: flex;
    }
    .parrafo{
        margin: 55px 214px 55px 70px;
        font-size: 40px;
        padding: 0 135px 0 0;    
    }
    .boton3{
        margin: 84px 65px 84px 0px;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 13px;
        padding: 0px;
        width: 201px;
    }

    
}