.cobertura{
    background-color: hsl(256, 26%, 20%);
    background-image: url(../../assets/img_mobil/bg-pattern-intro-left-mobile.svg);
    position:relative ;
    background-repeat: no-repeat;
    color: aliceblue;
    height: 520px;
    text-align: center;
}
.cobertura p{
    margin: 10px 20px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 28px;
}
h2{
    font-size: 50px;
    padding: 97px 16px 10px;
    line-height: 49px;
}
.boton2{
    background-color: hsl(256, 26%, 20%);
    color: white;
    border: solid 2px;
    font-size: 12px;
    padding: 12px 33px;
    letter-spacing: 2px;
    margin: 18px 0 0 -75px;
    position: absolute;
}
.cobertura img{
    float: inline-end;
}
.introRigth{
    position: absolute;
}