.cobertura{
    background-color: hsl(256, 26%, 20%);
    position:relative ;
    background-repeat: no-repeat;
    color: aliceblue;
    height: 978px;
    text-align: center;
}
.cobertura p{
    padding: 15px;
    margin: 3px 9px;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 28px;
}
.cobertura h2{
    font-size: 49px;
    font-family: DM Serif Display;
    position: relative;
    line-height: 46px;
    height: 98px;
    padding: 95px 4px 0px;
}
.boton2{
    background-color: hsl(256, 26%, 20%);
    color: white;
    border: solid 2px;
    font-size: 14px;
    padding: 11px 23px;
    letter-spacing: 3px;
    margin: 14px -75px 13px;
    position: absolute;
}
.introLeft1{
    margin: -4px -50%;
    position: absolute;
}
.introRigth1{
    float: inline-end;
}

@media (min-width: 1200px) {
    .cobertura{
        height: 450px;
        display: flex;
        flex-direction: row-reverse;
    } 
    .cobertura div{
        padding: 4% 0px 3% 87px;
        margin: 0;
        text-align: left;
    }
    .introLeft1, .introRigth1{
        display: none;
    }
}
 /*@media(max-width: 1200px){
    .cobertura{
        height: 450px;
        display: flex;
        flex-direction: row-reverse;
    }
    .cobertura div{
        padding: 7% 135px 6%;
        margin-right: 31%;
    }
    .cobertura div img{
        position: absolute;
    margin: 83px -42%;
    }

} */