
.container{
    text-align: center;
}
.boton3{
    padding: 0px 76px;
    border-top: solid 1px;
    position: absolute;
    margin: 0 -18px;
    color: rgb(130 141 155 / 80%);
}
.container h1{
    margin-top: 144px;
    padding: 43px 0 20px;
    font-size: 50px;
    letter-spacing: -1px;
    font-family: DM Serif Display;
    font-weight: 600;
}


@media (min-width: 1200px){
    .container{
        text-align: left;
    }
    .container h1{
        margin-top: 20%;
        margin-left: 127px;
        font-size: 69px;
        letter-spacing: -3px;
    }
    .boton3{
        padding: 0px 60px;
        border-top: solid 1px;
        margin-left: 125px;
        color: rgb(130 141 155 / 65%);
    }
    .card{
        display: flex;
        margin: 9px 155px 0 127px;
    }
}
