.social{
    height: 200px;
}
.networks{
    text-align: center;
    margin-top: 146px;
    padding-top: 88px;
}
.networks div{
    position: relative;
    margin: 24px 0;
}
.networks div a{
    margin: 0 11px;
}
.networks img{
    position: relative;
}
.Nav{
    position: absolute;
    transform: scale(1);
    opacity: 1;
    width: 100%;
 }
 .footer{
    display: none;
 }


 @media (min-width:1200px) {
    .social{
        height: 92px;
    }
    .networks{
        display: contents;
    }
    .networks img{
        margin-top: 4.5%;
        margin-left: 12%;
    }
    .networks div{
        margin-top: -4.3%;
        margin-left: 66%;
        margin-right: 3%;
    }
    .networks div a {
        margin: -17px;
    }
    .Nav{
        display: none;
    }
    .footer{
        display: flex;
        position: absolute;
        /* margin-top: 84px; */
    }
 }