.social{
    height: 200px;
}
.networks{
    text-align: center;
    margin-top: 146px;
    padding-top: 88px;
}
.networks div{
    position: relative;
    margin: 24px 0;
}
.networks div a{
    margin: 0 11px;
}
.networks div a:hover{
    filter: brightness(0.5)
}
.networks img{
    position: relative;
    margin: 20px 10px;
}
.networks .imgLogo{
    margin: 4% 0px 0px 12%;
}
.Nav{
    position: absolute;
    transform: scale(1);
    opacity: 1;
    width: 100%;
 }
 .footer{
    display: none;
 }


 @media (min-width:1200px) {
    .social{
        height: 92px;
    }
    .networks{
        display: contents;
    }
    .networks img{
        margin: 20px;
        padding: 3px;
    }
    .imgLogo{
        margin: 10px;
    }
    .networks div{
        margin-top: -4.3%;
        margin-left: 70%;
        margin-right: 3%;
    }
    .networks div a {
        margin: -17px;
    }
    .Nav{
        display: none;
    }
    .footer{
        display: flex;
        position: absolute;
    }
 }