.contentCard{
    width: 90%;
    margin: 10px;
    padding: 9px;
}
.contentCard img{
    margin: 36px 0;
}
.contentCard div p {
    margin: 0%;
    font-size: 17px;
    line-height: 27px;
    color: hsl(270deg 9% 17% / 67%);
    font-weight: bold;
}
h3{
    font-size: 32px;
    margin-bottom: 23px;
    letter-spacing: -2px;
    font-family: DM Serif Display;
    font-weight: 600;
}


@media (min-width:1200px) {
    .contentCard{
        margin: 0px;
    }
    .contentCard div p {
        font-size: 14px;
        line-height: 22px;
    }
    .contentCard img{
        width: 74px;
    }
    h3{
        font-size: 28px;
        letter-spacing: -2px;
    }
    p{
        font-size: 14px;
    }
    
}
